.wrapper{
    background: var(--primary);
    color: var(--contrast);
    padding-top: 20px;
    padding-bottom: 20px;
}
.episodeInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}