.footer{
    background: var(--secondary);
    padding: 40px 0;
    color: var(--contrast);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer a{
    color: var(--contrast);
}