.wrapper h1{
    margin-bottom: 1.2rem;
    color: var(--orange);
}
.wrapper h2{
    margin-bottom: 0.5rem;
    color: var(--orange);
}
.wrapper p{
    margin-bottom: 1rem;
}
.wrapper *{
    color: white;
}

.wrapper{
    background: var(--primary);
    padding-top: 20px ;
    padding-bottom: 20px ;
    border-bottom: 1px solid black;
}