.wrapper{
    background: rgb(39, 43, 51);
    color: white;
    padding: 30px 0;
}
.rowDisplay{
    display: flex;
    gap: 5px;
    align-items: center;
}
.infoWrapper{
    display: flex;
    gap: 20px;
}
.mainInfo{
    display: flex;
    flex-direction: column;
    gap: 10px
}
.characterInfo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.location{
    display: flex;
    gap: 20px;
}
.image{
    height: 100%;
}