.header{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header a{
    text-decoration: none;
}
.flexItems{
    display: flex;
    gap:15px;
    align-items: center;
}
