.wrapper{
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.pages{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pages>p{
    cursor: pointer;
    padding: 3px;
}
.currentPage{
    border-radius: 5px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.45);
}