.wrapper{
    background: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
.wrapper a{
    color: var(--contrast);
}
.wrapper h2{
    font-weight: 400;
}
.title{
    color: orange;
    margin-top: 5px;
}