.wrapper{
    background: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
.cardsWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.totalCharacters{
    color: var(--contrast);
    display: flex;
    justify-content: center;
}