.cardWrapper{
    background: rgb(60 62 68);
    display: flex;
    color: white;
    gap: 10px;
    border-radius: 10px;
}

.status{
    display: flex;
    align-items: center;
    gap: 5px;
}
.cardWrapper a{
    color: white;
    text-decoration: none;
}
@media (min-width: 1440px) {
    .cardWrapper{
        width: 500px;
        height: 220px;
    }
    .cardWrapper img{
        height: 100%;
    }
}
@media (max-width: 1440px) {
    .cardWrapper{
        width: 350px;
        height: 180px;
    }
    .cardWrapper img{
        border-radius: 10px 0 0 10px;
    }
    .cardWrapper img{
        height: 100%;
    }
}
@media (max-width: 930px) {
    .cardWrapper{
        width: 200px;
        height: 310px;
        flex-direction: column;
    }
    .cardWrapper img{
        border-radius: 10px 10px 0 0;
    }
    .cardWrapper img{
        width: 100%;
    }
}
