.bgImage{
    background-image: url("../../../../../src/images/hero-image.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}
.bgImage h3{
    opacity: 0.7;
}
