body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --orange: orange;
  --green: #0ed80e;
  --red: red;
  --gray: lightgray;
}

.dark-theme{
  --primary: rgb(39, 43, 51);
  --secondary: rgb(60 62 68);
  --contrast: white;

}
.light-theme{
  --primary: rgb(244 245 250);
  --secondary: white;
  --contrast: black;

}
.light-theme-svg{
  filter: invert(0);
}
.dark-theme-svg{
  filter: invert(1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.clickableText:hover{
  color: orange;
}
.clickableText{
  text-decoration: none;
}
p,h1,h2,h3,h4,h5{
  margin: 0;
}
.whiteText{
  color: white;
}
.orangeText{
  color: orange;
}

/* medea queries */
@media (min-width: 1240px) {
  header, .container{
    padding: 0 200px;
  }
}
@media (max-width: 1240px) {
  header, .container{
    padding: 0 100px;
  }
}
@media (max-width: 800px) {
  header, .container{
    padding: 0 50px;
  }
}
@media (max-width: 500px) {
  header, .container{
    padding: 0 10px;
  }
}


