body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.clickableText:hover{
  color: orange;
}
p,h1,h2,h3,h4,h5{
  margin: 0;
}

/* medea queries */
@media (min-width: 1240px) {
  header, .container{
    padding: 0 200px;
  }
}
@media (max-width: 1240px) {
  header, .container{
    padding: 0 100px;
  }
}
@media (max-width: 800px) {
  header, .container{
    padding: 0 50px;
  }
}


